.NavMenu{
    display: none;
}

@media (min-width : 0px) and (max-width : 880px){

    .NavInput{
        display:none;
    }

    .navSecondBox{
        display: none;
    }

    .NavMenu{
        display: flex;
    }

    .navbarBox{
        width: 100%;
    }
}

@media (max-width : 1150px){
    .NavInput{
        display:none;
    }
    .navbarBox{
        width: 100%;
    }
}
