.container{
    width:100%;
    height: 100%;
}
.container img{
    height: 45px;
}
.container>div{
    width: 88%;
    margin: auto;
    padding-top: 20px;
}
.container>div:nth-child(2){
    display: flex;
    justify-content: end;
}
.form{
    padding: 50px;
    width: 400px;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
}
.form>div>form>input{
    margin: auto;
    margin-top: 10px;
    /* padding: 6px 180px 6px 15px; */
    font-size: 14px;
    border:1px solid rgb(226, 226, 226);
}
.form>div>form>input:focus{
    outline: none;
    border: 2px solid #FFDA00;
}
.form>div:nth-child(2)>form>input{
    width: 300px;
    padding: 10px 15px;
}

.form>div:nth-child(2)>form>img{
    height: 36px;
}
.form>div>form{
    text-align:center
}
.check{
    width:18px;
    height: 18px;
}
.form>div>form>span{
    font-size: 12px;
    margin-left: 4px;
}
.red{
    color: rgb(34, 133, 245);
    text-decoration: underline;
}
.grey{
    color: grey;
}
.tip{
    margin-top: 10px;
    font-size: 12px;
    color: rgb(255, 115, 0);
    width: 90%;
}
.btn{
    border: none;
    background-color: #FFDA00;
    width: 300px;
    padding: 10px;
    font-weight: 800;
    margin-bottom: 20px;
}
.form>div>span{
    font-weight: 800;
    font-size: 18px;
    /* margin-left: 30px; */
}
.form>div>span:nth-child(2){
    margin-left: 40px;
    text-decoration: underline 4px solid #FFDA00;
}
.form>div:nth-child(2){
    margin-top: 20px;
}
@media (max-width:767px){
    .form{
     width: 350px;
    }
    .form>div:nth-child(2)>form>input{
        width: 270px;
     }
     .btn{
        width: 270px;
     }
 }
 @media (max-width:420px){
     .form{
      width: 300px;
     }
     .form>div:nth-child(2)>form>input{
        width: 230px;
     }
      .btn{
        width: 230px;
      }
      .container{
        text-align: center;
      }
  }