*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.container{
    width: 85vw;
    margin-top: 100px;
    margin: auto;
}

.secondtitle{
    height: 28px;
    line-height: 28px;
    color: #000;
    font-weight: 700;
    text-align: left;
    font-size: 20px;
    margin-bottom: 16px;
    margin-left: 3px;
}


.productsdata{
    width:100;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:10px;
}
@media only screen and (max-width: 600px) {
    .container{
        width: auto;
    }
    .productsdata {
        width: auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:10px;
    }
    .secondtitle{
        text-align: center;
    }
  }