.container{
    width: 85vw;
    margin: auto;
}
.productsnav{
    height: 20px;


    font-size: 13px;
padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
}
.productsnav>span{
    color: rgb(102, 99, 99);
    display: flex;
    justify-content: center;
    align-items: center;
}
.productsnav>div{
    display: flex;
    gap:10px;
    margin-left: 10px;
}
.productsnav>div>span{
    display: flex;
    justify-content: center;
    align-items: center;
}
span:hover{
    cursor: pointer;
}
.productsdata{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:10px;
    width:90%;
    margin:auto;
}
.price{
    color:grey
}
.productsnav{
    margin-top: 10px;
    margin-bottom: 5px;
}
@media only screen and (max-width: 400px) {
    .productsdata{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px;
   
}
}